<!-- views/partials/footer.ejs -->

<div class="container-fluid">
   <div class="row">
      <div class="newsletter">
	 <div class="wrapper">


	    <form action="//dobots.us10.list-manage.com/subscribe/post?u=d03baf337210e326a61dc14d5&amp;id=a23d3e9ded" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
	       <label for="Email" class="newsletter__label hidden-label">Sign up to our mailing list</label>
	       <div class="input-group">
		  <input type="email" value="" placeholder="Sign up to our mailing list" name="EMAIL" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
		  <span class="input-group-btn">
		     <button type="submit" class="btn newsletter__submit" name="subscribe" id="Subscribe">
			<span class="newsletter__submit-text--large">Subscribe</span>
			<span class="newsletter__submit-text--small">&rarr;</span>
		     </button>
		  </span>
	       </div>
	    </form>
	 </div>
      </div>
   </div>
</div>

<div class="footer">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <h3>Crownstone for Consumers</h3>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled">
                                
								<li><a href="http://crownstone.rocks/" class="footer">Home</a></li>
								<li><a href="http://crownstone.rocks/technology-consumer/" class="footer">Technology</a></li>
								<li><a href="http://crownstone.rocks/blog/" class="footer">Blog</a></li>
								<li><a href="http://crownstone.rocks/jobs/" class="footer">Jobs</a></li>
								<li><a href="http://crownstone.rocks/team/" class="footer">Team</a></li>
								<li><a href="http://crownstone.rocks/forum/" class="footer">Forum</a></li>
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 text-center">
                        <h3>Crownstone for Business Partners</h3>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled">
                                
								<li><a href="http://crownstone.rocks/business/" class="footer">Home</a></li>
								<li><a href="http://crownstone.rocks/business/developers/" class="footer">Developers</a></li>
								<li><a href="http://crownstone.rocks/business/data/" class="footer">Internet of Things</a></li>
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 text-center">
                        <h3>Contact</h3>
                        <div style="display:inline-block;">
                            <ul class="list-unstyled text-left">
                                <li>
                                    <script type="text/javascript">/*<![CDATA[*/var a=new Array(".rocks", "stone", "crown", "@", "am", "te");document.write("<a href='mailto:");for(i=a.length-1;i>=0;i--){document.write(a[i])}document.write("?subject=Get in contact' class='footer'><i class='el el-envelope footer'></i>Email us!</a>");/*]]>*/</script>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/crownstone" target="_blank" class="footer">
                                        <i class="el el-linkedin footer"></i>Linkedin
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/crownstones/" target="_blank" class="footer">
                                        <i class="el el-facebook footer"></i>Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/crownstone_db" target="_blank" class="footer">
                                        <i class="el el-twitter footer"></i>Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vimeo.com/alexdemulder" target="_blank" class="footer">
                                        <i class="el el-vimeo footer"></i>Vimeo
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UC7bsuzp2BfL5F5RX07oLIzw" target="_blank" class="footer">
                                        <i class="el el-youtube footer"></i>Youtube
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cdn.shopify.com/s/files/1/1030/5157/files/Press_Kit-2016-04-01.zip?14879015916008726670" class="footer">
                                        <i class="el el-arrow-down footer"></i>Presskit
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 text-center colofon">
                Crownstone<br/>
                Stationsplein 45, unit d1.118<br/>
                3013 AK, Rotterdam, the Netherlands<br/>
                0031103073955 / 010-3073955
            </div>
        </div>
    </div>
    <br />
</div>


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-17146802-16', 'auto');
  ga('send', 'pageview');
</script>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

