<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

    <% include partials/header %>

    <div class="container">

	<section>
	    To know more about Crownstone, navigate to <a href="http://crownstone.rocks">crownstone.rocks</a>.
	</section>

    </div>

    <% include partials/footer %>
    
</body>
</html>
