<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body style="width:100vw; display: block">
    <div class="container">
      <div style="align-content: center; width: auto; text-align: center">
        <h3 style="text-align: center">If you're not being forwarded to the Crownstone app, try swiping down, and pressing the OPEN button:</h3>

        <img src="/images/scrollDown.png" width="90%" style="border-width: 1px; border-color: #ddd; border-style: solid; margin:15px" />

        <p>Alternatively, you can copy the code below and paste it into the app.</p>
        <h1> <%= code %></h1>
        <p>In the app, tap the text below the <i>Working...</i> button:</p>
        <b><i>If something went wrong, tap here if you want to manually input the code.</i></b>.
        <p>and paste the code in there.</p>
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
</body>
</html>
