<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

    <% include partials/header %>

    <div class="container">

<section>
  <form action="<%= loginPostUrl %>" method="post">
    <fieldset>
      <legend>Login form</legend>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value="<%= email %>"/>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" value="<%= password %>"/>
      </div>
      <div>
        <input type="submit" value="Login"/>
      </div>
    </fieldset>
  </form>
</section>

    </div>

    <% include partials/footer %>
    
</body>
</html>
