<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

    <% include partials/header %>

    <div class="container">

      <section>
        <form action="/reset-password?access_token=<%= accessToken %>" method="post">
          <fieldset>
            <legend>Password reset form</legend>
            <div>
              <label for="password">New password:</label>
              <input type="password" name="password">
            </div>
            <div>
              <label for="confirmation">Confirm new password:</label>
              <input type="password" name="confirmation">
            </div>
            <div>
              <input type="submit" value="Reset password">
            </div>
          </fieldset>
        </form>
      </section>

    </div>

    <% include partials/footer %>
    
</body>
</html>
