<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

    <% include partials/header %>

    <div class="container">

        <h1>Registration completed successfully</h1>

        <p>Thank you! An email has been sent to your email address for verification. If you click on the link there you can start
        logging in to the Crownstone app and Cloud services.</p>

    </div>

    <% include partials/footer %>
    
</body>
</html>
