<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

    <% include partials/header %>

    <div class="container">

        <h1>Registration verified successfully</h1>

        <p>Thank you! You can go back to the Crownstone app now and start using your Crownstones!</p>

    </div>

    <% include partials/footer %>
    
</body>
</html>
