<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

    <% include partials/header %>

    <div class="container">

        <h1>Registration verified successfully</h1>

        <p>You are now ready to <a href="/">log in</a>!</p>

    </div>

    <% include partials/footer %>
    
</body>
</html>
