<img src="https://crownstone.rocks/images/crownstone-logo.png" alt="Crownstone" align="right" width="128px" height="128px">
<p>
Dear <%= firstName %>,
</p>

<p>
Please verify your email by opening <a href="<%= verifyHref %>">this link</a> in a web browser.
</p>

<p>
Drop us a <a href="mailto:team@crownstone.rocks">message</a> if you need help or advice of course! 
</p>

<p>
Kind regards,
</p>

<p>
the Crownstone team
</p>
